/bin/debug
cocosstudio
debug
Backup2
Backup
/proj.win32/Backup2
/proj.win32/Backup
/proj.win32/Debug.win32
/proj.android/assets
/proj.android/bin
/proj.android/gen
/proj.win32/FlappyBird.sdf
/proj.win32/.vs
/proj.win32/Debug
/proj.win32/res
/proj.win32/build-cfg.json
/proj.win32/FlappyBird.aps
/package
proj.android/obj/local/armeabi/objs/cocos2dcpp_shared/__/__/Classes/SplashScene.o.d
/proj.android/obj
/proj.android/libs
*.d
proj.android/obj/local/armeabi/objs/cpufeatures/cpu-features.o.d
proj.android/libs/armeabi/gdb.setup
*.o
proj.android/obj/local/armeabi/objs-debug/cocos2dcpp_shared/__/__/Classes/AppDelegate.o
